
<p style="color:transparent;">.</p>
    <p style="color:transparent;">.</p>
<div class="container" *ngIf="service">

  <div class="single-product">
      <div class="row">

                    <div class="col-6" >
                              <div class="product-image">
                                  <div class="product-image-main">
                                      <img [src]="service.imgPath" [alt]="service.name"  id="product-main-image">
                                  </div>
                                  <div class="product-image-slider">
                                    <a (click)="changImageToMain('assets/images/img2.jpg')">
                                      <img src="assets/images/img2.jpg" [alt]="service.name"  class="image-list">
                                    </a>
                                    <a  (click)="changImageToMain('assets/images/img3.jpg')">
                                      <img src="assets/images/img3.jpg" [alt]="service.name"  class="image-list">
                                    </a>
                                    <a (click)="changImageToMain('assets/images/img4.jpg')">
                                      <img src="assets/images/img4.jpg" [alt]="service.name"  class="image-list">
                                    </a>
                                    <a  (click)="changImageToMain('assets/images/img5.jpg')">
                                      <img src="assets/images/img5.jpg" [alt]="service.name"  class="image-list">
                                    </a>
                                    <a  (click)="changImageToMain('assets/images/img1.jpg')">
                                      <img src="assets/images/img1.jpg" [alt]="service.name"  class="image-list">
                                    </a>
                                  </div>
                              </div>
                    </div>


                <div class="col-6" >
                    <div class="breadcrumb">
                        <span><a href="#">Fiverr Pro</a></span>
                        <span><a href="#">{{service.category}}</a></span>
                        <span class="active">{{service.name}}</span>
                    </div>

                    <div class="product">
                        <div class="product-title">
                            <h2>{{service.name}} </h2>
                        </div>
                        <div class="product-rating">
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span class="review">(47 Review)</span>
                        </div>
                        <div class="product-price">
                            <span class="offer-price" id="offer-price">$ {{service.price |number: '1.2-2' }}</span>
                            <span class="sale-price" id="sale-price" >$ {{(service.price+100) |number: '1.2-2' }}</span>
                        </div>

                        <div class="product-details">
                            <h3><strong> Description :</strong></h3>
                            <p> {{service.description }}</p>
                        </div>
                        <div class="product-size">
                            <h4><strong>Pack :</strong></h4>
                            <div class="size-layout">
                                <input type="radio" name="size" value="S" id="1" class="size-input" checked (change)="changePrice('S')">
                                <label for="1" class="size">Basic</label>

                                <input type="radio" name="size" value="M" id="2" class="size-input" (change)="changePrice('M')">
                                <label for="2" class="size">Standart</label>

                                <input type="radio" name="size" value="L" id="3" class="size-input" (change)="changePrice('L')">
                                <label for="3" class="size">Premium</label>


                            </div>
                        </div>
                        <!--
                        <div class="product-color">
                            <h4>Color</h4>
                            <div class="color-layout">
                                <input type="radio" name="color"  value="black" class="color-input">
                                <label for="black" class="black"></label>
                                <input type="radio" name="color"  value="red" class="color-input">
                                <label for="red" class="red"></label>

                                <input type="radio" name="color"  value="blue" class="color-input">
                                <label for="blue" class="blue"></label>
                            </div>
                        </div>-->



                        <span class="divider"></span>

                        <div class="product-btn-group">
                            <div class="button buy-now"><i class='bx bxs-zap' ></i> Order Now</div>
                            <button type = "button" class="button add-cart" (click)="addToCart(service)"><i class='bx bxs-cart' ></i> add to List</button>
                            <div class="button heart"><i class='bx bxs-heart' ></i> Add to Wishlist</div>
                        </div>
                    </div>
                </div>



      </div>
  </div>
</div>


