

<div class="container">

  <div class="single-product">
      <div class="row">

                    <div class="col-6">
                              <div class="product-image">
                                  <div class="product-image-main">
                                      <img [src]="service.imgPath" [alt]="service.name"  id="product-main-image">
                                  </div>
                                  <div class="product-image-slider">
                                      <img src="ServiceImges/pngwing.com (1).png" [alt]="service.name" class="image-list">
                                      <img src="ServiceImges/sailing-ship-g3fce10d75_1920.jpg" [alt]="service.name"  class="image-list">
                                      <img src="ServiceImges/still-life-g24986429f_1920.jpg" [alt]="service.name"  class="image-list">
                                      <img src="ServiceImges/pngwing.com (2).png" [alt]="service.name"  class="image-list">
                                      <img src="ServiceImges/pngwing.com (2).png" [alt]="service.name"  class="image-list">

                                  </div>
                              </div>
                    </div>


                <div class="col-6">
                    <div class="breadcrumb">
                        <span><a href="#">Fiverr Pro</a></span>
                        <span><a href="#"> Graphics & Design</a></span>
                        <span class="active">Digital art creation</span>
                    </div>

                    <div class="product">
                        <div class="product-title">
                            <h2>{{service.name}} </h2>
                        </div>
                        <div class="product-rating">
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span><i class="bx bxs-star"></i></span>
                            <span class="review">(47 Review)</span>
                        </div>
                        <div class="product-price">
                            <span class="offer-price">$ {{service.price | number: '1.2-2' }}</span>
                            <span class="sale-price">$ {{service.price | number: '1.2-2' }}</span>
                        </div>

                        <div class="product-details">
                            <h3>Description</h3>
                            <p> {{service.description}}</p>
                        </div>
                        <div class="product-size">
                            <h4>Pack</h4>
                            <div class="size-layout">
                                <input type="radio" name="size" value="S" id="1" class="size-input">
                                <label for="1" class="size">Basic</label>

                                <input type="radio" name="size" value="M" id="2" class="size-input">
                                <label for="2" class="size">Standart</label>

                                <input type="radio" name="size" value="L" id="3" class="size-input">
                                <label for="3" class="size">Premium</label>


                            </div>
                        </div>
                        <!--
                        <div class="product-color">
                            <h4>Color</h4>
                            <div class="color-layout">
                                <input type="radio" name="color"  value="black" class="color-input">
                                <label for="black" class="black"></label>
                                <input type="radio" name="color"  value="red" class="color-input">
                                <label for="red" class="red"></label>

                                <input type="radio" name="color"  value="blue" class="color-input">
                                <label for="blue" class="blue"></label>
                            </div>
                        </div>-->
                        <span class="divider"></span>

                        <div class="product-btn-group">
                            <div class="button buy-now"><i class='bx bxs-zap' ></i> Buy Now</div>
                            <div class="button add-cart"><i class='bx bxs-cart' ></i> Add to Cart</div>
                            <div class="button heart"><i class='bx bxs-heart' ></i> Add to Wishlist</div>
                        </div>
                    </div>
                </div>



      </div>
  </div>
</div>


