
/* Utility stylings */
img{
    width: 100%;
    display: block;
}
.container{
    width: 88vw;
    margin: 0 auto;
}
.lg-title,
.md-title,
.sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.md-title{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
.sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}
.text-light{
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    opacity: 0.5;
    margin: 0.4rem 0;
}

/* product section */

.products{
    background: var(--alice-blue);
    padding: 2.2rem 0;


}
.container1 {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

}
.products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: 2rem;
    width: 350px;

    position: relative;
}
.product-content{

  background: var(--gray);
  padding: 2rem 1rem 2rem 1rem; /* Réduire le padding en bas de l'élément */
  cursor: pointer;
  display: flex; /* Utiliser le modèle de boîte flexible pour placer les éléments enfants */
  flex-direction: column; /* Aligner les éléments enfants verticalement */
  align-items: center; /* Centrer les éléments enfants horizontalement */
}
.product-img{
  background: var(--white-light);
  box-shadow: 0 0 20px 10px var(--white-light);
  width: 150px;
  height: 150px;
  margin: 1 auto;
  border-radius: 50%;
  transition: background 0.5s ease;
  height: 100px;
}
.product-btns{
  display: flex;
  justify-content: center; /* Aligner les boutons horizontalement */
  margin-top: 2rem;
  opacity: 1;
  transition: opacity 0.6s ease;
}
.btn-cart{
    background: transparent;
    border: 1px solid black;
    padding: 0.5rem 0;
    width: 100px;
    font-size: 13px;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn-buy{
  font-size: 13px;

  background: transparent;
  border: 1px solid black;
  padding: 0.2rem 0;
  width: 100px;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  transition: all 0.6s ease;
}
.btn-cart{
    background: black;
    color: white;
}
.btn-cart:hover{
    background: var(--carribean-green);
}
.btn-buy{
    background: white;
}
.btn-buy:hover{
    background: var(--carribean-green);
    color: #fff;
}
.product-info{
  background: white;
  overflow: hidden;
      text-overflow: ellipsis;
      max-height: 150px;
      /* white-space: nowrap; */
  text-overflow: ellipsis;
  padding: 0.3rem; /* Réduire le padding pour l'élément d'information du produit */
  margin-top: 5rem; /* Ajouter une marge supérieure pour éloigner l'élément d'information du produit des boutons */
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating span{
    color: var(--carribean-green);
}
.product-name{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price{
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
}
.product-price:first-of-type{
    text-decoration: line-through;
    color: var(--carribean-green);
}
.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: var(--carribean-green);
}
.product:hover .product-btns{
    opacity: 1;
}
.off-info .sm-title{
    background: var(--carribean-green);
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}





/* Media Queries */
@media screen and (min-width: 992px){
    .product-items{
        display: grid;
    }
    .product-col-r-bottom{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .products .text-light{
        width: 50%;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);

    }
    .product-collection-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex{
        height: 60vh;
    }
    .product-col-left{
        height: 121.5vh;
    }
}
