




<div class="co">
  <div class="imageUser">
    <img [src]="data.imgPath" [alt]="data.name">
  </div>
  <div *ngIf="!isEditing; else editingView">
    <ul class="custom-list">
      <li><strong>Name:</strong>{{data.name}}</li>
      <!--<li>
        <strong>Password:</strong>
        <span class="password-display">
          <ng-container *ngIf="passwordVisible; else asterisks">{{ data.password }}</ng-container>
          <ng-template #asterisks>{{ '*'.repeat(data.password.length) }}</ng-template>
        </span>
        <button (click)="togglePasswordVisibility()" class="eye-button">
          <i class="fa-solid" [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'"></i>
        </button>
      </li> -->
      <li><strong>Email:</strong>{{data.email}}</li>
    </ul>
    <div class="px-4" style="margin-left:100px;">
    <strong  style="margin-left:10px; cursor:pointer;" (click)="enableEditing()">Edit   <i class="fa-solid fa-pen-to-square"></i></strong>
  </div>
  </div>

  <ng-template #editingView>
    <div class="editing-frame">
      <h3>Edit Account Information</h3>
      <form (submit)="saveEditedData()">
        <label>
          Name:
        </label>
          <input type="text" [(ngModel)]="editedData.name" required>
        <br>
        <label>
          Password:
        </label>
          <input type="password" [(ngModel)]="editedData.password" required>
        <label>
          Email:
        </label>
          <input type="email" [(ngModel)]="editedData.email" required>
        <button type="submit" class="mt-4">Save</button>
      </form>
    </div>
  </ng-template>

</div>
