<header>
  <div class="navbar-container" *ngIf="isHomePageActif()">
       <div id="navbar1">
                  <div id="Logo">
                <li>
                   <a  routerLink="/">
                  <img src="assets/images/navbarImgs/FREELACERS_LAND_LOGO6.png"  alt="Logo" style="height: 60px;">
                    </a>
                 </li>
                  </div>
                <li *ngIf="!isLoginPageActive()">
                  <div class="search-container" >
                      <input #s type="text" name="search" placeholder="Search..." (keyup.enter)="search(s.value)" [value]="searchTerm" class="search-input">
                      <a routerLink="#searchData" class="search-btn" (click)="search(s.value)">
                         <i class="fas fa-search"></i>
                      </a>
                  </div>
              </li>

                    <li>
                        <div class="dropdown"  *ngIf="isAuthenticated()">
                          <button>
                              <img src={{user.imgPath}} style="height: 45px; border-radius: 50%;" alt="Account">
                                <strong>  {{user.name }}</strong>
                          </button>
                          <div class="dropdown-options">
                            <a routerLink="/account">Account</a>
                            <a routerLink="/services/new">Add service</a>
                            <a routerLink="/favorite">My favorites</a>
                            <a routerLink="/carts">Cart</a>
                            <a href="#">Setting</a>
                            <a  (click)="logout()">Logout</a>
                          </div>
                        </div>
                        <div class="dropdown"  *ngIf="!isAuthenticated()">
                          <button id="DropDown" routerLink="/login" >
                            <img src="assets/images/navbarImgs/pngwing.com.png" style="height: 50px; border-radius: 50%;" alt="Account">
                        </button>
                          <div class="dropdown-options">
                            <a (click)="openDialog()"><strong>Sign up</strong></a>
                            <a routerLink="/login"><strong>Login</strong></a>
                          </div>
                        </div>

              </li>

        </div>

        <div id="navbar2" *ngIf="isActive() && !isLoginPageActive()"  >
              <ul>

                <li>  <a  routerLink="/"><strong>Home Page</strong></a> </li>
                <li>  <a  routerLink="/1" ><strong>Web Development</strong></a> </li>
                <li>  <a  routerLink="/2"><strong>Graphic Design</strong></a> </li>
                <li>  <a  routerLink="/3" ><strong>Writing and Content Creation</strong></a> </li>
                <li>  <a  routerLink="/4"><strong>Social Media Management</strong></a>  </li>
                <li>  <a  routerLink="/5" ><strong>Data Entry</strong></a> </li>
                <li>  <a  routerLink="/6"><strong>SEO</strong></a> </li>
                <li>  <a  routerLink="/7"><strong>Mobile App Development</strong></a> </li>
                <li>  <a  routerLink="/8"><strong>Virtual Assistant</strong></a> </li>
                <li>  <a  routerLink="/9" ><strong>Video Editing</strong></a> </li>


              </ul>

          </div>
  </div>


  <!--<h1 [ngClass]="{'hdr': !scrolling, 'hdrScroll': scrolling }">header {{name}}!</h1>,-->

  </header>
