

*{
  padding: 0;
  margin: 0;
}
#navbar-container {
  display: flex; /* add this property */
  width: 100%;
  height: 50px;
 /* adding space betwween the navbar and the page  */
  padding-bottom: 20px;  /* adding space betwween the navbar and the page  */

}



#navbar1
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 900;
  background-color: transparent;
  top: 0;

}
#navbar1 ul{

  list-style-type: none;
  text-align: center;
  color: #707B7C;
}

#navbar1 li
{
  display: inline-block;
  padding: 10px;
}
#navbar1 li a{
  /* font-size: 30px; */
  text-decoration: none;
  color: #707B7C;
}
#navbar1::-webkit-scrollbar {
  width: 10px;
  height: 4px;

}

#navbar1::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

#navbar1::-webkit-scrollbar-thumb {
  background-color: #707B7C;
  border-radius: 10px;
}

#navbar2
{
  position: fixed;
  width: 100%;
  top: 120px;
  background-color: green;
  white-space: nowrap;
  background: var(--alice-blue);
  border: 1px solid ;
  border-bottom-color:  black;
  border-top-color: black;
  border-left: none;
  border-right: none;
  overflow-x: auto; /* add this line */
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:  10px;
  z-index: 9;
}
#navbar2 ul{

  list-style-type: none;
  text-align: center;
  color: white;
}

#navbar2 li
{
  display: inline-block;
  padding: 7px;
}
#navbar2 li a{
  font-size: 15px;
  text-decoration: none;
  color: green;

}
#navbar2 li a:hover {
  color: lightgreen;

}
#navbar2::-webkit-scrollbar {
  width: 10px;
  height: 4px;

}

#navbar2::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

#navbar2::-webkit-scrollbar-thumb {
  background-color: #707B7C;
  border-radius: 10px;
}
.scroll-btn:hover {
  background-color: #ccc;
}
.scroll-btn:focus {
  outline: none;
}
#scroll-left {
  left: 20px;
}
#scroll-right {
  right: 20px;
}
#search {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  font-size: 16px;
  height: 40px;
  padding: 10px;
  width: 410px;
  transition: border-color 0.2s ease-in-out;
}

#search:focus {
  border-color: #0077cc;
  outline: none;
}
.search-container{
  background: #fff;
  height: 50px;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;
  border: 2px solid green;
  /*box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  inset -7px -7px 10px 0px rgba(0,0,0,.1),
 7px 7px 20px 0px rgba(0,0,0,.1),
 4px 4px 5px 0px rgba(0,0,0,.1);
 text-shadow:  0px 0px 6px rgba(255,255,255,.3),
            -4px -4px 6px rgba(116, 125, 136, .2);
text-shadow: 2px 2px 3px rgba(255,255,255,0.5);*/
/*box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.3),
  inset -7px -7px 10px 0px rgba(0, 0, 0, 0.05),
  7px 7px 20px 0px rgba(0, 0, 0, 0.05);
  text-shadow:  0px 0px 6px rgba(255,255,255,.3),
             -4px -4px 6px rgba(116, 125, 136, .2);
  */
}

.search-container:hover > .search-input{
  width: 400px;
}

.search-container .search-input{
  background: transparent;
  border: none;
  outline:none;
  width: 0px;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;

}

.search-container .search-btn .fas{
  color: #5cbdbb;
}

@keyframes hoverShake {
0% {transform: skew(0deg,0deg);}
25% {transform: skew(5deg, 5deg);}
75% {transform: skew(-5deg, -5deg);}
100% {transform: skew(0deg,0deg);}
}

.search-container:hover{
animation: hoverShake 0.15s linear 3;
}


.dropdown {
  display: inline-block;
  position: relative;
  z-index: 1005;
}

button{
  border:none;
  border-radius:5px;
  padding:5px 10px;
  font-size:18px;
  cursor:pointer;
  background-color: transparent;
}

button:hover{
  background-color:#ddd;
}




.dropdown-options {
  display: none;
  position: fixed;
  overflow: auto;
  background-color:#fff;
  border-radius:5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  z-index:2;

}

.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  padding:20px 40px;
  z-index: 1005;
}

.dropdown-options a:hover {
  color: #0a0a23;
  background-color: #ddd;
  border-radius:5px;
}

.scrollCss {
  background: yellow;

}

.hdr {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1;
  margin-left:-8px;
  margin-top: -20px;

}
