<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template_two</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Start Header-->
    <header>
        <div class="container">
            <div id="Logo">
                <li >
                    <a  routerLink="/">
                        <img src="assets/images/navbarImgs/FREELACERS_LAND_LOGO3.png"  alt="Logo" style="height: 60px;">
                    </a>
                </li>
            </div>
            <nav>
                <i class="fas fa-bars toggle-menu"></i>
                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="/home">Services</a></li>
                    <li><a href="#portfolio">Design</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li>
                      <div class="dropdown"  *ngIf="isAuthenticated()">
                        <button id="DropDown">
                            <img src={{user.imgPath}} style="height: 50px; border-radius: 50%;" alt="Account">
                        </button>
                        <div class="dropdown-options">
                          <a  id="DropDown" href="#">Account</a>
                          <a  id="DropDown" routerLink="/services/new">Add service</a>
                          <a  id="DropDown"  href="#">My Services</a>
                          <a   id="DropDown" routerLink="/favorite">My favorites</a>
                          <a  id="DropDown" routerLink="/carts">Dashboard</a>
                          <a  id="DropDown" href="#">Setting</a>
                          <a   id="DropDown" (click)="logout()">Logout</a>
                        </div>
                      </div>
                      <div class="dropdown"  *ngIf="!isAuthenticated()">
                        <button id="DropDown" routerLink="/login" >
                            <img src="assets/images/navbarImgs/pngwing.com.png" style="height: 50px; border-radius: 50%;" alt="Account">
                        </button>
                        <div class="dropdown-options">
                          <a (click)="openDialog()">Sign up</a>
                        </div>
                      </div>

            </li>
                </ul>
                <div class="form">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header-->
    <!-- Start Landing -->
    <div class="landing" id="landing">
        <div class="overlay"></div>
        <div class="text">
            <div class="content">
                <h2>Find the right <span  style="font-size: 50px; font-family: Brush Script MT;" >freelance service</span>, right away</h2>
              <label id="serchBar">
                <input type="text" id="serchBar" required>
                <button id="serchBar" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

                <ul id="serchBar">
                  <li id="serchBar" s>s</li>
                  <li id="serchBar" e>e</li>
                  <li id="serchBar"  a>a</li>
                  <li id="serchBar" r>r</li>
                  <li id="serchBar" c>c</li>
                  <li id="serchBar" h>h</li>
                </ul>
              </label>
            </div>
        </div>
        <i class="fas fa-angle-left change-background fa-2x"></i>
        <i class="fas fa-angle-right change-background fa-2x"></i>
        <ul class="bullets">
            <li></li>
            <li class="active"></li>
            <li></li>
        </ul>
    </div>
    <!-- End Landing -->
    <!-- Start Services -->
    <div class="services" id="service">
        <div class="container">
            <div class="main-heading">
                <h2>SERVICES</h2>
                <p>Our Services For You.
                    Request Now!
                </p>
            </div>
            <div class="content">
                <div class="col">
                    <div class="srv">
                         <i class="fa-solid fa-wand-magic-sparkles fa-3x"></i>
                        <div class="text">
                            <h3>Editing</h3>
                                <p>Welcome to [Your Freelance Website Name], your one-stop destination for connecting with talented freelancers and getting your projects done efficiently.

                                  At [Your Freelance Website Name], we understand the power of collaboration and the need for flexible work arrangements. That's why we have created a platform that brings together skilled freelancers from various fields and clients looking for their expertise.

                                  Our mission is to empower both freelancers and businesses by providing a reliable and secure platform that facilitates seamless project collaboration. Whether you need a graphic designer, web developer, writer, or any other specialized professional, we've got you covered
                            </p>
                        </div>
                    </div>
                    <div class="srv">
                        <i class="fa-solid fa-code fa-3x"></i>
                        <div class="text">
                            <h3>Developpement</h3>
                            <p>Looking for a reliable web developer? Look no further! Our expert team
                                offers top-notch web development services, leveraging the latest technologies
                                 to deliver sleek and user-friendly websites that will leave a lasting impression on your visitors.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="srv">
                        <i class="fas fa-cog fa-3x"></i>
                        <div class="text">
                            <h3>Hacking</h3>
                            <p>Unlock the secrets of ethical hacking and become a cybersecurity professional.
                                Our in-depth course provides a deep understanding of penetration testing, vulnerability assessment,
                                 and secure coding practices. Join us on this exciting journey to defend against cyber threats.
                            </p>
                        </div>
                    </div>
                    <div class="srv">
                        <i class="fas fa-camera fa-3x"></i>
                        <div class="text">
                            <h3>Iptv</h3>
                            <p>Welcome to our IPTV service, where entertainment meets convenience. Enjoy a vast selection
                                of channels and on-demand content delivered directly to your screen, providing you with a
                                seamless streaming experience like never before
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->
    <!-- Start Inter -->
    <div class="inter">
        <div class="overlay"></div>
        <div class="image">
            <img src="../../../../assets/images/mobile.png" alt="">
        </div>
        <div class="content">
            <h2>OUR DESIGN COMES WITH...</h2>
            <ul>
                <li>Responsive Design</li>
                <li>Modern And Clean Design</li>
                <li>Clean Code</li>
                <li>Browser Friendly</li>
            </ul>
        </div>
    </div>
    <!-- End Inter -->
    <!-- Start Portfolio -->
    <div class="portfolio" id="portfolio">
        <div class="container">
            <div class="main-heading">
                <h2>Images Services</h2>
                <p>What image do you like?All
                </p>
            </div>
            <ul class="shuffle">
                <li class="active">All</li>
                <li>App</li>
                <li>Photo</li>
                <li>Web</li>
                <li>Print</li>
            </ul>
        </div>
        <div class="image-contain">
            <div class="box">
                <img src="../../../../assets/images/shuffle-01.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-02.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-03.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-04.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-05.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-06.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-07.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-08.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Portfolio -->
    <!-- Start About -->
    <div class="about" id="about">
        <div class="container">
            <div class="main-heading">
                <h2>About Us</h2>
                <p> Welcome to <strong>FREELANCERS-LAND</strong>, your one-stop destination for connecting with talented freelancers and getting your projects done efficiently.

                  At <strong>FREELANCERS-LAND</strong>, we understand the power of collaboration and the need for flexible work arrangements. That's why we have created a platform that brings together skilled freelancers from various fields and clients looking for their expertise.

                  Our mission is to empower both freelancers and businesses by providing a reliable and secure platform that facilitates seamless project collaboration. Whether you need a graphic designer, web developer, writer, or any other specialized professional, we've got you covered
                </p>
            </div>
            <img src="../../../../assets/images/about.png" alt="">
        </div>
    </div>
    <!-- End About -->

    <div class = "">
      <h1 class = "lg-title">Special Services Offers</h1>
      <div class = "product-items" >
          <!-- single product -->
        <div class = "product" *ngFor="let service of services">
          <app-services [data]="service" (itemf)="addTofavorite($event)" (item)="addToCart($event)"></app-services>
        </div>
      </div>
    </div>
      <div class="mt-4" style="color:transparent;">-</div>
      <div class="mt-4" style="color:transparent;">-</div>
      <div class="mt-4" style="color:transparent;">-</div>

    <!-- Start Statistique -->
    <div class="statistique">
        <div class="container">
            <div class="case">
                <i class="fas fa-mug-hot"></i>
                <div class="number">1.236</div>
                <p>Coffee Drinks</p>
            </div>
            <div class="case">
                <i class="far fa-folder"></i>
                <div class="number">256</div>
                <p>Completed Projects</p>
            </div>
            <div class="case">
                <i class="far fa-envelope"></i>
                <div class="number">1,743</div>
                <p>Mail Sent</p>
            </div>
            <div class="case">
                <i class="fas fa-trophy"></i>
                <div class="number">17</div>
                <p>Awards Received</p>
            </div>
        </div>
    </div>
    <!-- End Statistique -->
    <!-- Start Comment -->
    <div class="comment">
        <div class="container">
            <div class="testimonials">
                <h3>Testimonials</h3>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                    Mauris blandit aliquet elit, eget tincidunt.
                </p>
                <div class="content">
                    <img src="../../../../assets/images/ourImages/ZiadPic.png" alt="">
                    <div class="text">
                        Software eneneering from FSTTanger and a freelancer in <strong>FREELANCERS-LAND</strong> .
                        design and develop websites and mobile applications.
                         already hack the entire planet.
                        <p>Ziad Ben Saada,Tanger , Morocco</p>
                    </div>
                </div>
                <div class="content">
                    <img src="../../../../assets/images/ourImages/HADDADPic.JPG" alt="">
                    <div class="text">
                      Software eneneering from FSTTanger and a freelancer in <strong>FREELANCERS-LAND</strong> .
                      design and develop websites and mobile applications.
                      Network expert .
                        <p>Haddad Mohammed,Tanger , Morocco</p>
                    </div>
                </div>
                <ul class="bullets">
                    <li></li>
                    <li class="active"></li>
                    <li></li>
                </ul>
            </div>
            <div class="skills">
                <h3>Skills</h3>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                    Mauris blandit aliquet elit, eget tincidunt.
                </p>
                <div class="prog-holder">
                    <h4>Adobe</h4>
                    <div class="prog">
                        <span style="width:90%" data-progress="90%"></span>
                    </div>
                </div>
                <div class="prog-holder">
                    <h4>HTML & CSS</h4>
                    <div class="prog">
                        <span style="width:85%" data-progress="85%"></span>
                    </div>
                </div><div class="prog-holder">
                    <h4>JAVASCRIPT</h4>
                    <div class="prog">
                        <span style="width:80%" data-progress="80%"></span>
                    </div>
                </div><div class="prog-holder">
                    <h4>PHP</h4>
                    <div class="prog">
                        <span style="width:90%" data-progress="90%"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Comment-->
    <!-- Start Quote -->
    <div class="quote">
        <div class="container">
            <q>If future generations are to remember us more with gratitude than sorrow, we must achieve more than just the miracles of technology. We must also leave them a glimpse of the world as it was created, not just as it looked when we got through with it.
            </q>
            <span>Lyndon B. Johnson, Former President of the United States of America</span>
        </div>
    </div>
    <!-- End Quote -->
    <!-- Start Pricing -->
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="main-heading">
                <h2>PRICING</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                    Mauris blandit aliquet elit, eget tincidunt.
                </p>
            </div>
            <div class="plans" >
                <div class="plan">
                    <div class="head">
                        <h3>BASIC</h3>
                        <span>19</span>
                    </div>
                    <ul>
                        <li>Feature No 1</li>
                        <li>Extra Feature</li>
                        <li>Extra Feature No 2</li>
                        <li>Feature</li>
                    </ul>
                    <a href="#">Buy Now</a>
                </div>
                <div class="plan">
                    <div class="head">
                        <h3>PREMIUM</h3>
                        <span>29</span>
                    </div>
                    <ul>
                        <li>Feature No 1</li>
                        <li>Extra Feature</li>
                        <li>Extra Feature No 2</li>
                        <li>Feature</li>
                    </ul>
                    <a href="#">Buy Now</a>
                </div>
                <div class="plan">
                    <div class="head">
                        <h3>PRO</h3>
                        <span>39</span>
                    </div>
                    <ul>
                        <li>Feature No 1</li>
                        <li>Extra Feature</li>
                        <li>Extra Feature No 2</li>
                        <li>Feature</li>
                    </ul>
                    <a href="#">Buy Now</a>
                </div>

            </div>
            <p>Contact us if you have special request</p>
            <a href="#">Contact Us</a>
        </div>
    </div>
    <!-- End Pricing -->
    <!-- Start Email -->
    <div class="subscribe">
        <div class="overlay"></div>
        <div class="container">
            <form action="">
                <i class="far fa-envelope fa-lg"></i>
                <input type="email" name="Email" placeholder="Your Email">
                <input type="submit" value="Subscribe">
            </form>
            <p>you can easly join us by just addin your email and clicking on subscribe
            </p>
        </div>
    </div>
    <!-- End Email -->
    <!-- Start Contact -->
    <div class="contact" id="contact">
        <div class="container">
            <div class="main-heading">
                <h2>CONTACT US</h2>
            </div>
            <div class="info">
                <div class="content">
                    <form action="">
                        <input class="main-input" type="text" name="name" placeholder="Your Name">
                        <input class="main-input" type="text" name="email" placeholder="Your Email">
                        <textarea name="message" class="main-input" placeholder="Your Message"></textarea>
                        <input type="submit" value="Send Message">
                    </form>
                    <div class="info">
                        <h4 class="text">GET IN TOUCH</h4>
                        <span class="phone">+212 657451913</span>
                        <span class="phone">+212 710164956</span>
                        <h4 class="text">WHERE WE ARE</h4>
                        <address>
                            Tanger<br>Morrocco
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact -->
    <!-- Start Footer -->
    <div class="footer">
        <div class="overlay"></div>
        <div class="container">
            <p>We Are Social</p>
            <div class="social-icons">
                <a routerLink="https://web.facebook.com/profile.php?id=100009470504630"><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-solid fa-house-chimney"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <p>&copy; 2023 <span>Ziad Ben Saada & Haddad Med </span> All Right Reserved</p>
        </div>
        </div>
    <!-- End Footer -->
</body>
</html>
