<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template_two</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Start Header-->
    <header>
        <div class="container">
            <div id="Logo">
                <li >
                    <a  routerLink="/">
                        <img src="assets/images/navbarImgs/pngegg.png"  alt="Logo" style="height: 90px;">
                    </a>
                </li>
            </div>
            <nav>
                <i class="fas fa-bars toggle-menu"></i>
                <ul>
                    <li><a class="active" href="#">Home</a></li>
                    <li><a href="/home">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <div class="form">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header-->
    <!-- Start Landing -->
    <div class="landing" id="landing">
        <div class="overlay"></div>
        <div class="text">
            <div class="content">
                <h2>Hello World!<br>
                    I'm Ziad Ben Saada Make Design
                </h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et,porttitor
                        at sem. Mauris blandit aliquet elit, eget tincidunt
                        nibh pulvinar a. Curabitur  aliquet quam. Accumsan
                        id imperdiet et, porttitor at sem. Mauris blandit
                        aliquet elit, eget tincidunt.
                </p>
            </div>
        </div>
        <i class="fas fa-angle-left change-background fa-2x"></i>
        <i class="fas fa-angle-right change-background fa-2x"></i>
        <ul class="bullets">
            <li></li>
            <li class="active"></li>
            <li></li>
        </ul>
    </div>
    <!-- End Landing -->
    <!-- Start Services -->
    <div class="services" id="service">
        <div class="container">
            <div class="main-heading">
                <h2>SERVICES</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                 Mauris blandit aliquet elit, eget tincidunt.
                </p>
            </div>
            <div class="content">
                <div class="col">
                    <div class="srv">
                         <i class="fas fa-desktop fa-3x"></i>
                        <div class="text">
                            <h3>Vorem amet intuitive</h3>
                                <p>Curabitur arcu erat, accumsan id imperdiet et,
                                porttitor at sem. Mauris blandit aliquet elit,
                                     eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
                            </p>
                        </div>
                    </div>
                    <div class="srv">
                        <i class="fas fa-pencil-ruler fa-3x"></i>
                        <div class="text">
                            <h3>Vorem amet intuitive</h3>
                            <p>Curabitur arcu erat, accumsan id imperdiet et,
                                porttitor at sem. Mauris blandit aliquet elit,
                                eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="srv">
                        <i class="fas fa-cog fa-3x"></i>
                        <div class="text">
                            <h3>Vorem amet intuitive</h3>
                            <p>Curabitur arcu erat, accumsan id imperdiet et,
                                porttitor at sem. Mauris blandit aliquet elit,
                                 eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
                            </p>
                        </div>
                    </div>
                    <div class="srv">
                        <i class="fas fa-camera fa-3x"></i>
                        <div class="text">
                            <h3>Vorem amet intuitive</h3>
                            <p>Curabitur arcu erat, accumsan id imperdiet et,
                                porttitor at sem. Mauris blandit aliquet elit,
                                 eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->
    <!-- Start Inter -->
    <div class="inter">
        <div class="overlay"></div>
        <div class="image">
            <img src="../../../../assets/images/mobile.png" alt="">
        </div>
        <div class="content">
            <h2>OUR DESIGN COMES WITH...</h2>
            <ul>
                <li>Responsive Design</li>
                <li>Modern And Clean Design</li>
                <li>Clean Code</li>
                <li>Browser Friendly</li>
            </ul>
        </div>
    </div>
    <!-- End Inter -->
    <!-- Start Portfolio -->
    <div class="portfolio" id="portfolio">
        <div class="container">
            <div class="main-heading">
                <h2>PORTFOLIO</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                    Mauris blandit aliquet elit, eget tincidunt.
                </p>
            </div>
            <ul class="shuffle">
                <li class="active">All</li>
                <li>App</li>
                <li>Photo</li>
                <li>Web</li>
                <li>Print</li>
            </ul>
        </div>
        <div class="image-contain">
            <div class="box">
                <img src="../../../../assets/images/shuffle-01.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-02.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-03.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-04.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-05.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-06.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-07.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
            <div class="box">
                <img src="../../../../assets/images/shuffle-08.jpg" alt="">
                <div class="caption">
                    <h4>Awesome Image</h4>
                    <p>Photography</p>
                </div>
            </div>
        </div>
        <a href="#" class="more">More</a>
    </div>
    <!-- End Portfolio -->
    <!-- Start Video -->
    <div class="video">
        <video  autoplay muted loop>
        <source src="../../../../assets/images/Video.mp4" type="video/mp4">
    </video>
    <div class="text">
        <h2>SUPER AWESOME VIDEO HERE</h2>
        <p>Its All You Need</p>
        <button>SEE MORE</button>
    </div>
    </div>
    <!-- End Video -->
    <!-- Start About -->
    <div class="about" id="about">
        <div class="container">
            <div class="main-heading">
                <h2>About Us</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                    Mauris blandit aliquet elit, eget tincidunt.
                </p>
            </div>
            <img src="../../../../assets/images/about.png" alt="">
        </div>
    </div>
    <!-- End About -->

    <div class = "">
      <h1 class = "lg-title">Special Services Offers</h1>
      <div class = "product-items" >
          <!-- single product -->
        <div class = "product" *ngFor="let service of services">
          <app-services [data]="service" (itemf)="addTofavorite($event)" (item)="addToCart($event)"></app-services>
        </div>
      </div>
    </div>
      <div class="mt-4" style="color:transparent;">-</div>
      <div class="mt-4" style="color:transparent;">-</div>
      <div class="mt-4" style="color:transparent;">-</div>

    <!-- Start Statistique -->
    <div class="statistique">
        <div class="container">
            <div class="case">
                <i class="fas fa-mug-hot"></i>
                <div class="number">1.236</div>
                <p>Coffee Drinks</p>
            </div>
            <div class="case">
                <i class="far fa-folder"></i>
                <div class="number">256</div>
                <p>Completed Projects</p>
            </div>
            <div class="case">
                <i class="far fa-envelope"></i>
                <div class="number">1,743</div>
                <p>Mail Sent</p>
            </div>
            <div class="case">
                <i class="fas fa-trophy"></i>
                <div class="number">17</div>
                <p>Awards Received</p>
            </div>
        </div>
    </div>
    <!-- End Statistique -->
    <!-- Start Comment -->
    <div class="comment">
        <div class="container">
            <div class="testimonials">
                <h3>Testimonials</h3>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                    Mauris blandit aliquet elit, eget tincidunt.
                </p>
                <div class="content">
                    <img src="../../../../assets/images/skills-01.jpg" alt="">
                    <div class="text">
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                        Mauris blandit aliquet elit, eget tincidunt.
                        <p>Ziad Ben Saada, Morocco</p>
                    </div>
                </div>
                <div class="content">
                    <img src="../../../../assets/images/skills-02.jpg" alt="">
                    <div class="text">
                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                        Mauris blandit aliquet elit, eget tincidunt.
                        <p>Ziad Ben Saada, Morocco</p>
                    </div>
                </div>
                <ul class="bullets">
                    <li></li>
                    <li class="active"></li>
                    <li></li>
                </ul>
            </div>
            <div class="skills">
                <h3>Skills</h3>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                    Mauris blandit aliquet elit, eget tincidunt.
                </p>
                <div class="prog-holder">
                    <h4>Adobe</h4>
                    <div class="prog">
                        <span style="width:90%" data-progress="90%"></span>
                    </div>
                </div>
                <div class="prog-holder">
                    <h4>HTML & CSS</h4>
                    <div class="prog">
                        <span style="width:85%" data-progress="85%"></span>
                    </div>
                </div><div class="prog-holder">
                    <h4>JAVASCRIPT</h4>
                    <div class="prog">
                        <span style="width:80%" data-progress="80%"></span>
                    </div>
                </div><div class="prog-holder">
                    <h4>PHP</h4>
                    <div class="prog">
                        <span style="width:90%" data-progress="90%"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Comment-->
    <!-- Start Quote -->
    <div class="quote">
        <div class="container">
            <q>accumsan id imperdiet et, porttitor at sem.
                Mauris blandit aliquet elit, eget tincidunt.
            </q>
            <span>John Doe</span>
        </div>
    </div>
    <!-- End Quote -->
    <!-- Start Pricing -->
    <div class="pricing" id="pricing">
        <div class="container">
            <div class="main-heading">
                <h2>PRICING</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                    Mauris blandit aliquet elit, eget tincidunt.
                </p>
            </div>
            <div class="plans">
                <div class="plan">
                    <div class="head">
                        <h3>BASIC</h3>
                        <span>19</span>
                    </div>
                    <ul>
                        <li>Feature No 1</li>
                        <li>Extra Feature</li>
                        <li>Extra Feature No 2</li>
                        <li>Feature</li>
                    </ul>
                    <a href="#">Buy Now</a>
                </div>
                <div class="plan">
                    <div class="head">
                        <h3>PREMIUM</h3>
                        <span>29</span>
                    </div>
                    <ul>
                        <li>Feature No 1</li>
                        <li>Extra Feature</li>
                        <li>Extra Feature No 2</li>
                        <li>Feature</li>
                    </ul>
                    <a href="#">Buy Now</a>
                </div>
                <div class="plan">
                    <div class="head">
                        <h3>PRO</h3>
                        <span>39</span>
                    </div>
                    <ul>
                        <li>Feature No 1</li>
                        <li>Extra Feature</li>
                        <li>Extra Feature No 2</li>
                        <li>Feature</li>
                    </ul>
                    <a href="#">Buy Now</a>
                </div>
                <div class="plan">
                    <div class="head">
                        <h3>PLATINUM</h3>
                        <span>49</span>
                    </div>
                    <ul>
                        <li>Feature No 1</li>
                        <li>Extra Feature</li>
                        <li>Extra Feature No 2</li>
                        <li>Feature</li>
                    </ul>
                    <a href="#">Buy Now</a>
                </div>
            </div>
            <p>Contact us if you have special request</p>
            <a href="#">Contact Us</a>
        </div>
    </div>
    <!-- End Pricing -->
    <!-- Start Email -->
    <div class="subscribe">
        <div class="overlay"></div>
        <div class="container">
            <form action="">
                <i class="far fa-envelope fa-lg"></i>
                <input type="email" name="Email" placeholder="Your Email">
                <input type="submit" value="Subscribe">
            </form>
            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                Mauris blan dit aliquet elit, eget tincidunt.
            </p>
        </div>
    </div>
    <!-- End Email -->
    <!-- Start Contact -->
    <div class="contact" id="contact">
        <div class="container">
            <div class="main-heading">
                <h2>CONTACT US</h2>
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
                    Mauris blandit aliquet elit, eget tincidunt.
                </p>
            </div>
            <div class="info">
                <div class="content">
                    <form action="">
                        <input class="main-input" type="text" name="name" placeholder="Your Name">
                        <input class="main-input" type="text" name="email" placeholder="Your Email">
                        <textarea name="message" class="main-input" placeholder="Your Message"></textarea>
                        <input type="submit" value="Send Message">
                    </form>
                    <div class="info">
                        <h4 class="text">GET IN TOUCH</h4>
                        <span class="phone">+00 123.456.789</span>
                        <span class="phone">+00 123.456.789</span>
                        <h4 class="text">WHERE WE ARE</h4>
                        <address>
                            Awesome Address 17<br>New York, NYC<br>123-4567-890<br>USA
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact -->
    <!-- Start Footer -->
    <div class="footer">
        <div class="overlay"></div>
        <div class="container">
            <img src="../../../../assets/images/logo.png" alt="">
            <p>We Are Social</p>
            <div class="social-icons">
                <a routerLink="https://web.facebook.com/profile.php?id=100009470504630"><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-solid fa-house-chimney"></i></a>
                <a href=""><i class="fa-brands fa-linkedin"></i></a>
            </div>
            <p>&copy; 2023 <span>Ziad</span> All Right Reserved</p>
        </div>
        </div>
    <!-- End Footer -->
</body>
</html>
