<!--<div class = "product-content">
    <a >
      <div class = "product-img">
        <img src="{{ data.imgPath }}" alt="{{ data.name }}">
      </div>
    </a>
    <div class = "product-info">
      <div class = "product-info-top">
        <div class = "rating">
          <span><i class = "fas fa-star"></i></span>
          <span><i class = "fas fa-star"></i></span>
          <span><i class = "fas fa-star"></i></span>
          <span><i class = "fas fa-star"></i></span>
          <span><i class = "far fa-star"></i></span>
        </div>
      </div>
      <a href = "#" class = "product-name" style="font-weight: bold;"> {{data.name}}</a>
      <p class = "product-price">$ {{data.price | number: '1.2-2' }}</p>
      <p class = "product-price">$ {{data.price+10  | number: '1.2-2' }}</p>
    </div>
    <div class = "product-btns">
      <button type = "button" class = "btn-cart" (click)="add()"> add to List
        <span><i class = "fas fa-th-large"></i></span>
      </button>
      <button type = "button" class = "btn-buy" (click)="addf()"> add to favourite
          <span><i class = "fas fa-heart"></i></span>
      </button>
    </div>
  </div> -->


  <div class="card">
    <a routerLink="/service/{{data._id}}">
    <img src="{{ data.imgPath }}" alt="Service Image">
  </a>
    <div class="freelancer-info">
        <img src="{{ data.user.imgPath }}" alt="Freelancer Image">
        <a href="freelancer-profile.html">{{data.user.name}}</a>
      </div>
      <div class="hoverChange">
    <h3><a style="font-size: 18px;margin: 10px 0;font-family: 'Brushstroke';" routerLink="/service/{{data._id}}"> <strong>{{ data.name | slice:0:26 }}</strong> </a></h3>
  </div>
    <div class="star-rating">
        <i class="fas fa-star"></i>
        <p>5.0 <span style="color:grey; font-size:smaller;">(300)</span> </p>
    </div>
    <div class="card-footer">
      <div>
        <a class="listHover" style="cursor:pointer; margin-left: 0%; margin-right: 10px;">
          <span><i class = "fa-solid fa-list" (click)="add()"></i></span>
        </a>

        <a class="heartHover" style="cursor:pointer; margin-left: 2px;" >
            <span><i class = "fa-solid fa-heart" (click)="addf()"></i></span>
        </a>
      </div>

        <div>

            <a href="/"><i class=""></i></a>
            <a  (click)="add()" ><i class=""></i></a>
        </div>
        <a href="/">Start with<strong> ${{data.price | number: '1.2-2' }}</strong></a>
    </div>
  </div>
